package com.sider.domain;

import com.aw.core.db.InClauseConstructor;
import com.aw.core.db.support.WhereBuilder2;
import com.aw.core.domain.BaseRepository;
import com.aw.support.date.AWDate;
import org.apache.commons.logging.Log;
import org.apache.commons.logging.LogFactory;
import org.springframework.stereotype.Repository;

import java.util.Iterator;
import java.util.List;


@Repository("$repositoryName_var")
public class $repositoryName extends BaseRepository {

    protected final Log logger = LogFactory.getLog(getClass());

    public List<$entityImpl> buscar($filtroName filtro) {
        StringBuffer sql = new StringBuffer();
        return ArrayList();
    }

    public void guardar(Object entity) {
        getHbm().saveOrUpdate(entity);
        getHbm().flush();
    }

    public void eliminar(List entities) {
        getHbm().deleteAll(entities);
        getHbm().flush();
    }
}